h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkgoldenrod;
}

h3 {
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkcyan
}